---
import Gpl from "../images/genomeplot-modified-l.png";
import Gpm from "../images/genomeplot-modified-m.png";
import Gpxm from "../images/genomeplot-modified-xm.png";
import Gpxxm from "../images/genomeplot-modified-xxm.png";
import Gps from "../images/genomeplot-modified-s.png";
---

<section class="about-section" id="about-section">
  <div class="about-section__content">
    <div class="about-section__text">
      <p class="about-section__para">
        <i>“We are drowning in information but starved for knowledge.”</i>
        <br />
        <br />
        <span class="about-section__para--author">John Naisbitt</span>
      </p>
      <h2 class="section__heading about-section__heading">/Who we are</h2>
      <p class="about-section__para typewriter-2">
        The multi-omics data from real cancer patients has recently become
        readily available thanks to the development of high-throughput
        sequencing technologies. However, data mining and the effective use of
        this knowledge still remain substantial challenges.
      </p>
      <p class="about-section__para typewriter-3">
        Through advanced bioinformatics and our ML-based approach, we are able
        to better understand the complexity of cancer, which arises from
        interactions between genes and their products in the entangled
        biological network of molecular processes.
      </p>
    </div>
    <div class="about-section__img">
      <picture class="genomeplot">
        <source srcset={Gps} media="(max-width:320px)" />
        <source srcset={Gpm} media="(max-width:425px)" />
        <source srcset={Gpxm} media="(max-width:768px)" />
        <source srcset={Gpxxm} media="(max-width:1024px)" />
        <img src={Gpl} alt="genomeplot" />
      </picture>
    </div>
  </div>
</section>
<style is:global>
  .about-section {
    padding: 8rem 0 0 0;
    color: var(--bg-color-1);
    background-color: var(--font-color);
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
  }
  .about-section__content {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .about-section__text {
    padding: 2rem;
  }
  .about-section__para {
    font-weight: 200;
    padding: 1rem 0;
  }

  .section__heading {
    font-weight: 400;
    font-size: 2rem;
    padding: 0 0 2rem 0;
    white-space: nowrap;
  }
  .about-section__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-section__para--author {
    text-align: end;
    display: block;
    width: 80%;
  }
  @media screen and (width > 768px) {
    .about-section__text {
      padding: 4rem 6rem;
      /* background-color: #fff; */
      max-width: 768px;
    }
  }
  @media screen and (width > 1024px) {
    .about-section__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  @media screen and (width > 1440px) {
    .about-section__text {
      padding: 4rem 10rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
      max-width: 1200px;
      /* background-color: #fff; */
    }
  }
</style>
