---
export interface Props {
  source: string;
  title: string;
  description: string;
  expertise: string;
}
const { source, title, description, expertise } = Astro.props;
---

<div class="card__container">
  <div class="card-image__container typewriter-3">
    <img class="card-image" src={source} alt={title} />
  </div>
  <div class="card-details__container typewriter-4">
    <h3 class="card-details__title">{title}</h3>
    <h3 class="card-details__description">{description}</h3>
    <h3 class="card-details__expertise">{expertise}</h3>
  </div>
</div>
<style is:global>
  .card__container {
    /* background-color: #fff; */
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 220px;
    /* background: red; */
  }
  .card-image__container {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-details__container {
    padding: 0.5rem;
  }
  .card-details__title,
  .card-details__description,
  .card-details__expertise {
    font-weight: 200;
    text-align: center;
    font-size: 1rem;
    /* background-color: #fff; */
  }
  @media screen and (width > 425px) {
    .card-details__container {
      padding: 2rem;
    }
  }
</style>
